
@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../fonts/BebasNeueCyrillic.eot');
    src: url('../fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/BebasNeueCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');