//product-about section ------------------------------ //
.product-about {
    padding: 200px 0 0px;
}

.product-about__screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 380px;
    width: 640px;

    .small-slider {
        width: 90px;
        height: 100%;
        cursor: pointer;

        .slide-img {
            width: 90px;
            height: 80px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .small-slide {
            margin-bottom: 18px;
        }

        .slick-list.draggable {
            height: 380px !important;
        }

        .slick-track {
            height: 100% !important;
        }
    }

    .big-slider {
        width: 530px;

        .slide-img {
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            width: 530px;
            height: 380px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.product-about__info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
        @include secttitle;
        margin: 0;

        &:after {
            width: 100%;
        }
    }

    span {
        display: inline-flex;
        justify-content: center;
        padding: 6px 30px;
        font-size: 15px;
        color: $mainGreen;
        border: 1px solid $mainGreen;
        border-radius: 5px;
        height: 36px;
    }
}

.product-about__info-content {
    dl {
        max-width: 357px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &+dl {
            margin-top: 15px;
        }
    }

    dt {
        color: #626262;
        font-size: 18px;
        line-height: 160%;
        margin: 0;
        font-weight: 400;
        padding-right: 30px;
    }

    dd {
        color: $mainGreen;
        font-weight: 700;
        font-size: 17px;
        line-height: 160%;
        margin: 0;
        text-align: right;
    }

    >a {
        margin-top: 40px;
        display: inline-block;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 9px 41px;
        font-weight: 700;
        font-size: 17px;
        line-height: 160%;
        color: #fff;
        background-color: $mainYellow;
        transition: .5s;

        &:hover {
            transform: translateY(-5px);
            color: $mainYellow;
            background: $mainGreen;
        }
    }
}


// product-description section ---------------------------------------------//

.product-description {
    padding: 80px 0 0px;
}

.product-description__inner {
    position: relative;
    background: #FFFFFF;
    padding: 40px 23px 40px;
    box-shadow: 0px 0px 16px rgba(140, 140, 140, 0.15);
    border-radius: 15px;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 85%;
        width: 5px;
        transform: translate(-50%, -50%);
        background-color: $mainYellow;
    }
}

.product-description__title h2 {
    font-family: 'Bebas Neue Cyrillic';
    font-weight: 400;
    font-size: 34px;
    line-height: 160%;
    color: $mainGreen;
    text-align: center;
    margin-bottom: 12px;
}

.product-description__content {
    max-height: 450px;
    height: auto;
    overflow-y: auto;
    padding: 0 10px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #96A7A2;
        border-radius: 4px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #626262;
        margin-bottom: 10px;
    }

    dl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(140, 140, 140, 0.15);
        border-radius: 5px;
        padding: 12px 15px;

        &+dl {
            margin-top: 10px;
        }
    }

    dt {
        color: #626262;
        font-size: 16px;
        line-height: 160%;
        padding-right: 20px;
    }

    dd {
        color: #121212;
        font-size: 20px;
        font-weight: 700;
        line-height: 160%;
    }

    ol,
    ul {
        margin-bottom: 30px;
        padding-left: 20px;
    }

    ul li {
        list-style: disc;
        margin-bottom: 5px;

        &::marker {
            font-size: 10px;
        }
    }

    ol li {
        list-style: decimal;
        margin-bottom: 5px;
    }
}


.col-lg-6:nth-child(odd) {
    .product-description__col {
        padding-right: 50px;
    }
}

.col-lg-6:nth-child(even) {
    .product-description__col {
        padding-left: 50px;
    }
}


.request.product-page {
    margin: 100px 0 50px;
}

.products.product-page {
    padding: 0;
}


.infoblocks {
    @include sectmargin;

    .row {
        row-gap: 20px;
    }

    .row>* {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.infoblocks__title h2 {
    @include secttitle;
    margin-bottom: 50px;
}

.infoblocks__item {
    width: 100%;
    height: 156px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: $mainYellow;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    border-radius: 10px;

    >img {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 24px;
        height: 24px;
        background-size: cover;
    }
}



//  RESPONSIVE ------------------------------------- //



@media (max-width:1399.8px) {
    .product-about__info-content dl {
        max-width: 684px;
    }

    .product-about__info-top {
        max-width: 684px;
    }
}

@media (max-width:1199.8px) {
    .product-about__screen {
        width: 684px;
    }

    .product-about__screen .big-slider {
        width: 574px;
    }

    .product-about__screen .big-slider .slide-img {
        width: 574px;
        height: 380px;
    }

    .product-about__screen {
        margin-bottom: 50px;
    }
}

@media (max-width:991.8px) {
    .product-description__inner {
        padding: 40px 57px 70px;

        &:after {
            display: none;
        }
    }

    .col-lg-6:nth-child(odd) .product-description__col {
        padding-right: 0;
        padding-bottom: 50px;
    }

    .col-lg-6:nth-child(2n) .product-description__col {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 4px;
            width: 90%;
            background: $mainYellow;

        }

        position: relative;
        padding-left: 0;
        padding-top: 40px;
    }

    .product-about__content-bottom dl {
        width: 640px;
    }
}

@media (max-width:767.8px) {
    .product-about__info-top {
        h1 {
            font-size: 34px;
        }

        span {
            font-size: 13px;
            padding: 6px 11px;
        }
    }

    .product-description__inner {
        padding: 40px 0px 60px;
    }

    .product-about__info-content dt {
        font-size: 15px;
    }

    .request.product-page {
        margin: 80px 0 50px;
    }

    .product-description {
        padding: 80px 0 0px;
    }

    .product-about__screen {
        flex-direction: column-reverse;
    }

    .product-about__screen .small-slider {
        width: 100%;
        height: 80px;
        overflow: hidden;
    }

    .product-about__screen .big-slider {
        width: 100%;
        margin-bottom: 20px;
    }

    .product-about__screen {
        height: auto;
        width: 100%;
    }

    .product-about__screen .big-slider .slide-img {
        width: 100%;
        height: 350px;
    }

    .product-about__screen .small-slider .small-slide {
        margin-bottom: 0;
        height: 80px;
        margin: 0 25px;
    }

    .product-about__screen .small-slider .slick-list.draggable {
        margin: 0 -25px;
    }

    .product-about__screen .small-slider .slide-img {
        margin: 0 auto;
    }

    .product-about__screen .small-slider .slick-list.draggable {
        height: auto;
    }

    .product-about__screen .small-slider .slick-track {
        height: 90px !important;
    }

    .infoblocks__item {
        height: 140px;
        font-size: 19px;
    }
}



@media (max-width:575.8px) {
    .product-description__content dd {
        font-size: 18px;
    }

    .product-description__content dt {
        font-size: 14px;
    }

    .product-about__content-bottom dl dt {
        font-size: 13px;
    }

    .product-about__content-bottom dl dd {
        font-size: 13px;
    }

    .product-about__screen .small-slider .small-slide {
        margin: 0 2vw;
    }

    .product-about__screen .small-slider .slick-list.draggable {
        margin: 0 -2vw;
    }

    .product-about__content-bottom .popup_btn {
        width: 100%;
    }

    .product-about__content-bottom .price {
        text-align: center;
    }

    .product-about__screen .big-slider .slide-img {
        height: 320px;
    }

    .product-about {
        padding: 125px 0 0px;
    }


}

@media (max-width:375px) {
    .product-about__screen .small-slider .small-slide {
        margin: 0 2vw;
    }

    .product-about__screen .small-slider .slick-list.draggable {
        margin: 0 -2vw;
    }

    .product-about__screen .big-slider .slide-img {
        height: 250px;
    }

}